

.x{
	position: relative;
	margin-right: 50px;
	margin-left: 50px;
	clear: both;
	top: 100px;

}

td{
	font-family: sans-serif;
	font-size: 20px;
	padding-right: 25px;
	padding-left: 25px;
	height: 100%;
	clear: both;
}


a:link, a:visited {
	background-color: whitesmoke;
	color: black;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 10px;
	transition: all 0.3s;
	clear: both;
}

a:hover, a:active {
	
	
	background-color:purple;
	color: white;
	clear: both;
}



.a1{
	border-style:solid;
	border-color:purple ;
	margin: auto;
	border-width:2px;	
	text-align: center;	

	height: 100px;
	line-height: 90px;	
	font-style: italic;
	border-radius: 100px;
	width: 95%;
	
}
.a2{ 
	clear: both;
	margin: auto;
	margin-top: 25px;
	text-align: center;
	width: 95%;
	padding-bottom: 50px;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	font-style: italic;
	border-radius: 10px;
	font-size: 20px;
}




.res {


	background: url(1.jpg);
	clear: both;
	transition: all 0.3s;
	margin: auto;

}

.res:hover, .res:active  {

	clear: both;
	background: url(2.jpg);
	transition: all 0.3s;
	margin: auto;
}

.ser {


	background: url(3.jpg);
	clear: both;
	transition: all 0.3s;
	margin: auto;

}

.ser:hover, .ser:active  {


	background: url(4.jpg);
	clear: both;
	transition: all 0.3s;
	margin: auto;
}
ul{
	list-style: none;
}
b{
	float: left;
	padding:0 2% 0 2%;
}

* {
  transition: all 0.3s ease;
}

form { 
margin: 0 auto; 
width:50%;
}

.darkBox {
  background: whitesmoke;
  padding: 5% 20% 5% 20%;
}

.smBox {
  background: #974D97;
  width: 100%;
  border-radius: 8px;
  padding: 15px;
  margin: 5px;
  border: 0px;
  transition: 0.2s;
  caret-color: #FFF;
  color: #FFF;
}

.smBox:focus {
  outline: none;
  background: purple;
  border-color: #4c5358;
  box-shadow: 0 0 20px #974D97;
}

::placeholder {
    color: #AEAFAF;
    opacity: 1;
}

.bigBox {
  min-height: 150px;
  padding-bottom: 20%;
}

.bigTitle {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

button {
  position: relative;
  transform: translateY(10%);
  display: block;
  text-transform: none;
  text-decoration: none;
  
  border: 2px solid rgba(235, 235, 235, 1);
  border-radius: 12px;
  padding: 1em 2em;
  overflow: hidden;
  color: purple;
  font-weight: 600;
  font-family: sans-serif;
  z-index: 0;
  backface-visibility: hidden;
  width: 50%;
  text-align: center;
  margin: auto;
}

button:hover {
  transition: all 0.3s ease-out;
  color: white;
  border-radius: 12px;
  text-decoration: none;
}

.btn-in::before {
  transform: scale(5);
  border-radius: 100px;
  transition: all 0.25s ease-out;

}
button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0,0.5);
  background: purple;
  border-radius: 100%;
  overflow: hidden;
  z-index: -1;
  
}
button:hover::before {
  transform: scale(2,4);
  transition: all 0.25s ease-out; 
}

@media screen and (max-width: 1200px) {
 
form { 
margin: 0 auto; 
width: 60%;
}
.darkBox {
  background: whitesmoke;
  padding: 5% 5% 5% 5%;
}
}
@media screen and (max-width: 650px) {

  form { 
margin: 0 auto; 
width: 100%;
}
.darkBox {
  background: whitesmoke;
  padding: 5%;
}
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a {

  text-decoration: none;
}




* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a {

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: whitesmoke;
  color: #000;
  padding: 10px 10px;
  position: fixed;
  border: 1px solid purple;
  width: 102%;
  z-index: 1;
  font-family: sans-serif;

}
#menu-check {
    display:none;
}
.menu-links {
  display:none;
  position: absolute;
  background: whitesmoke;  
  justify-content: center;
  right: 1rem;
  top: 120%;
  list-style-type: none;
  text-align: center;

}
.menu-links li {
  padding: 0.5rem 1rem;
  

}
#menu-check:checked + .menu-links {
  display:block;

}

@media only screen and (min-width: 900px) {
  label {
    display: none;

  }
  .menu-links {
    display: flex;
    position: inherit;
    background: none;


  }
}